/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div, html, body, section, article, h1, h2, p, nav, ul, li, button {

  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

body {
  background: #E9EBEE;
}

nav {
  background: #3b5998;
  font-family: helvetica;
  color: #f9fafc;
  margin-bottom: 12px;
}

.loginbar {
  width: 980px;
  height: 82px;
  margin: auto
}

.logo {
  float: left;
  font-size: 36px;
  font-family: helvetica;
  font-weight: bold;
  margin-top: 25px;
}

.login {
  float: right;
  margin-top: 15px;
}

.guest-login-bar {

}

.guest-login-button {
  background: #5972a7;
  font-size: 12px;
  font-weight: bold;
  color: #f9fafc;
  margin-top: 33px;
  margin-left: 110px;
  float: left;
}

.not-navbar {
  display: block;
  width: 862px;
  margin: auto;
}

ul {
  list-style-type: none;
  display: block;
}

.login li {
  float: left;
  width: 130px;
  margin-right: 40px;
}

.login li label {
  float: left;
  margin-bottom: 5px;
  font-size: 12px;
}

.login li text {
  padding: 3px;
}

.button {
  background: #5972a7;
  font-size: 12px;
  font-weight: bold;
  color: #f9fafc;
  margin-top: 17px;

}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.hidden-error-modal {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  text-align:center;
  z-index: 1000;
  }

.visible-error-modal {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  text-align:center;
  z-index: 1000;
}

.error-modal div {
  width:300px;
  margin: 100px auto;
  background-color: #fff;
  border:1px solid #000;
  padding:15px;
  text-align:center;
}

input {
  padding: 5px;
  border: 1px solid black;
}

.signup-content {
  width: 1000px;
  margin: auto;
}

.signup {
  background: #edf0f5;
  height: 100%;
  width: 100%;
  font-family: freight sans bold;
  margin: auto;
  position: absolute;
}

.splash {
  float: left;
  font-size: 24px;
  width: 370px;
  margin: 30px 0px 5px 0px;
}

.splash title {
  display: block;
  float: left;
  font-size: 28px;
  margin-bottom: 30px;
}

.splash li {
  font-size: 17px;
  margin-bottom: 30px;
}

.splash li img {
  float: left;
}

.splash li div {
  float: left;
  margin: 10px 0px 0px 20px;
}

.signup-box {
  float: left;
  margin: 10px 0px 0px 200px;
}

.signup-welcome {
  font-size: 36px;
}

.signup-button {
  background: #5c9449;
  width: 200px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 4px;
}

.signup-box li {
  margin-bottom: 12px;
}

.signup-email, .signup-password {
  font-size: 18px;
  width: 400px;
  border-radius: 4px;
  padding: 10px;
}

.navbar {
  background: #3B5998;
  width: 1050px;
  margin: auto;
  height: 44px;
}

.search-bar {
  float: left;
  margin-top: 5px;
  width: 400px;
  padding: 8px;
  border: 1px solid white;
  border-radius: 3px 0px 0px 3px;
}

.search-button {
  float: left;
  margin-top: 5px;
  margin-right: 150px;
  border-radius: 0px 3px 3px 0px;
  background: #F6F7F9;
  padding: 4px;
  color: #4E5665;
  width: 45px;
  text-align: center;
  font-size: 20px;
}

.search-button:hover {
  background: #4080ff;
}

.logout-button {
  float: left;
  margin: 7px 0px 0px 10px;
  padding: 6px;
  border-radius: 4px;
  color: white;
  background: #3B5998;
  font-size: 12px;
  border-left: 1px solid #365089;
}

.logout-button:hover {
  background: rgba(0, 0, 0, .1);
}

.fa-facebook{
  float: left;
  background: #ffffff;
  color: #3b5998;
  width: 25px;
  margin: 5px 10px 0px 40px;
  text-align: right;
}

.home-button {
  float: left;
  margin: 5px 30px 0px 10px;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: #3B5998;
  font-size: 12px;
  border-left: 1px solid #365089;
}

.home-button:hover {
  background: rgba(0, 0, 0, .1);
}

.profile-link {
  float: left;
  width: 80px;
  height: 25px;
  margin-left: 50px;
  margin-top: 5px;
  border-radius: 4px;
  padding: 4px;
}

.profile-link:hover {
  background: rgba(0, 0, 0, .1);
}

.profile-button-pic {
  float: left;
  width: 25px;
  height: 25px;
}

.profile-button {
  float: left;
  display: block;
  width: 30px;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 5px;
}

.intro-container {
  display: block;
  width: 330px;
  height: 460px;
  background: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #D0D1D5;
}

.intro-icon {
  width: 20px;
  float: left;
  margin: 10px
}

.intro-title {
  float:left;
  margin: 12px;
  font-family: helvetica;
}

.intro-description-form-text {
  margin: 10px;
  width: 300px;
  height: 100px;
  text-align: center;
}

.intro-description-form-cancel-button {
  background: #F6F7F9;
  border-radius: 2px;
  float: right;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #595D63;
  font-weight: bold;
}

.intro-description-form-save-button {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
}

.profile-pic {
  display: block;
  width: 170px;
  height: 170px;
  border: 5px solid white;
  position: absolute;
  top: 170px;
  left: 20px;
}

.profile-pic img {
  width: 100%;
  height: 100%;
}

.profile-pic-select, .profile-pic-save {
  display: none;
}

.profile-pic:hover .profile-pic-select {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 158px;
  height: 25px;
  background: #3b5998;
  opacity: 0.5;
}

.profile-pic:hover .profile-pic-save {
  display: block;
  position: absolute;
  bottom: 36px;
  left: 0px;
  width: 170px;
  height: 25px;
  background: #3b5998;
  opacity: 0.5;
}

.cover-pic {
  display: block;
  width: 850px;
  height: 315px;
  position: relative;
  margin-bottom: 60px;
  border: 1px solid #9CB2BA;
}

.cover-pic-select, .cover-pic-save {
  display: none;
}

.cover-pic:hover .cover-pic-select {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  background: #3b5998;
  opacity: 0.5;
}

.cover-pic:hover .cover-pic-save {
  display: block;
  position: absolute;
  top: 20px;
  left: 268px;
  height: 30px;
  background: #3b5998;
  opacity: 0.5;
}

.cover-pic img {
  width: 100%;
  height: 100%;
}

.name-box {
  display: block;
  position: absolute;
  top: 270px;
  left: 210px;
  color: #ffffff;
  font-size: 24px;
}

.friends-container {
  width: 330px;
  height: 360px;
  background: #ffffff;
  border: 1px solid #D0D1D5;
}

.friends-icon {
  display: block;
  margin: 12px;
  float: left;
}

.friends-title {
  display: block;
  float: left;
  margin-top: 15px;
  font-family: helvetica;
  font-size: 16px;
}

.friends-count {
  display: block;
  float: left;
  margin-top: 16px;
  font-family: helvetica;
  font-size: 14px;
  margin-left: 10px;
  color: #90949c;
}

.friend-picture {
  width: 100px;
  height: 100px;
  margin: 5px;
  float: left;
  position: relative;
}

.friend-image {
  width: 100%;
  height: 100%;
}

.friend-name {
  display: block;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 12px;
  font-weight: bold;
}

.friend-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.friend-request {
  position: absolute;
  top: 270px;
  left: 600px;
  border: 1px solid #1E230E;
  width: 100px;
  height: 25px;
  background: #F6F7F9;
}

.friend-request-icon-container {
  display: block;
  float: left;
  margin: 5px 0px 5px 10px;
}

.friend-request-title {
  display: block;
  float: right;
  width: 80px;
  text-align: center;
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  color: #4b4f56;
  vertical-align: middle;
  line-height: 25px;
  margin-top: 1px;
}

.friend-request-pending {
  position: absolute;
  top: 270px;
  left: 560px;
  width: 280px;
  height: 25px;
}

.friend-request-sent {
  float: left;
  text-align: center;
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  color: #4b4f56;
  background: #F6F7F9;
  border: 1px solid #1E230E;
  padding: 5px;
}

.friend-request-cancel {
  float:right;
  text-align: center;
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  color: #4b4f56;
  background: #F6F7F9;
  border: 1px solid #1E230E;
  padding: 5px;
}

.unfriend {
  position: absolute;
  top: 270px;
  left: 600px;
  width: 100px;
  height: 25px;
}

.unfriend-title {
  float:left;
  text-align: center;
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  color: #4b4f56;
  background: #F6F7F9;
  border: 1px solid #1E230E;
  padding: 5px;
}

.content-sidebar {
  float: left;
  margin-right: 20px;
}

.content-main {
  float: left;
}

.post-form {
  width: 500px;
  height: 150px;
  background: #ffffff;
  border: 1px solid #D0D1D5;
  margin-bottom: 40px;
}

.post-form-thumb {
  width: 40px;
  height: 40px;
  margin: 15px;
}

.tab-container {
  background: #F6F7F9;
  height: 35px;
}

.post-form-post-icon {
  display: block;
  float: left;
  height: 15px;
  width: 15px;
  margin: 10px 5px 0px 20px;
}

.post-form-photo-icon {
  display: block;
  float: left;
  height: 15px;
  width: 15px;
  margin: 10px 5px 0px 10px;
  border: 1px solid #DFE0E4;
}

.post-form-status-tab {
  float: left;
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  margin-top: 11px;
  color: #4B4F56;
}

.post-form-post-tab {
  float: left;
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  margin-top: 11px;
  color: #4B4F56;
}

.post-form-photo-tab {
  float: left;
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  margin-top: 11px;
  color: #4B4F56;
}

.post-form textarea {
  margin-right: 15px;
  width: 409px;
  border: 1px solid transparent;
  margin-bottom: 17px;
  padding-top: 15px;
  resize: none;
  outline: none;
}

.post-form main {
  border-top: 1px solid #DDDFE2;
  border-bottom: 1px solid #DDDFE2;
  height: 75px;
}

.post-form footer {
  height: 40px;
}

.post-form-submit-button {
  float: right;
  margin: 5px 10px 0px 10px;
  border-radius: 4px;
  color: white;
  background: #3B5998;
  font-size: 12px;
  border-left: 1px solid #365089;
  width: 60px;
  height: 25px;
  font-family: helvetica;
  text-align: center;
}

.posts-index-item {
  width: 500px;
  height: 170px;
  background: #ffffff;
  margin-bottom: 80px;
  border: 1px solid #DFE0E4;
}

.posts-index-item-thumb {
  float: left;
  display: block;
  border: 1px solid #DFE0E4;
  width: 40px;
  height: 40px;
  margin: 12px 0px 15px 12px;
}

.posts-index-item-author-name {
  float: left;
  font-family: helvetica;
  font-size: 14px;
  color: #365899;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 5px;
}

.posts-index-item-body {
  font-family: helvetica;
  font-size: 14px;
  color: #1d2129;
  margin: 0px 15px 0px 12px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DFE0E4;
}

.react-container {
  border-bottom: 1px solid #DFE0E4;
  height: 30px;
}

.react-like-icon {
  float: left;
  margin: 5px 5px 0px 15px;
}

.react-like-text {
  float: left;
  font-family: helvetica;
  font-size: 14px;
  font-weight: bold;
  color: #7f7f7f;
  margin: 5px 35px 0px 0px;
}

.react-comment-icon {
  float: left;
  margin: 7px 5px 0px 0px;
}

.react-comment-text {
  float: left;
  font-family: helvetica;
  font-size: 14px;
  font-weight: bold;
  color: #7f7f7f;
  margin: 5px 35px 0px 0px;
}

.react-share-icon {
  float: left;
  margin: 7px 5px 0px 0px;
}

.react-share-text {
  float: left;
  font-family: helvetica;
  font-size: 14px;
  font-weight: bold;
  color: #7f7f7f;
  margin: 5px 0px 0px 0px;
}

.reactions-container {
  background: #F6F7F9;
}

.comment-form {
  resize: none;
  outline: none;
  margin: 8px 15px 0px 0px;
  width: 430px;
  height: 22px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
  font-family: helvetica;
  color: #1d2129;
  font-size: 12px;
  border: 1px solid #DFE0E4;
}

.comment-form-thumb {
  float: left;
  display: block;
  border: 1px solid #DFE0E4;
  width: 30px;
  height: 30px;
  margin: 6px 10px 15px 12px;
}

.post-edit-button {
  float: right;
  margin: 5px 10px 0px 10px;
  border-radius: 4px;
  color: white;
  background: #3B5998;
  font-size: 12px;
  border-left: 1px solid #365089;
  width: 60px;
  height: 25px;
  font-family: helvetica;
  text-align: center;
}

.post-delete-button {
  float: right;
  margin: 5px 10px 0px 10px;
  border-radius: 4px;
  color: white;
  background: #3B5998;
  font-size: 12px;
  border-left: 1px solid #365089;
  width: 60px;
  height: 25px;
  font-family: helvetica;
  text-align: center;
}

.feed-content {
  width: 800px;
  margin: auto;
}

.name-form-name {
  float:left;
  font-family: helvetica;
  color: #90949c;
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.name-form-edit {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  margin-bottom: 10px;
}

.first-name-form-input {
  border: 1px solid #999999;
  color: #A9A9AE;
  width: 80px;
  margin: 0px 10px 10px 10px;
}

.last-name-form-input {
  border: 1px solid #999999;
  color: #A9A9AE;
  width: 80px;
  margin-bottom: 10px;
}

.name-form-save {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
}

.right-sidebar {
  float: right;
}

.random-users-container {
  width: 175px;;
  height: 600px;
  background: #ffffff;
  border: 1px solid #D0D1D5;
}

.random-users-title {
  display: block;
  float: left;
  margin-top: 15px;
  font-family: helvetica;
  font-size: 16px;
}

.feed-posts {
  float: left;
}

.random-user-picture {
  width: 100px;
  height: 100px;
  margin: 0px 0px 12px 34px;
  float: left;
  position: relative;
}

.random-user-image {
  width: 100%;
  height: 100%;
}

.random-user-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.friend-requests {
  float: left;
  position: relative;
}

.friend-request-icon {
  width: 25px;
  height: 25px;
  margin: 5px 20px 0px 0px;
}

.friend-request-counter-container {
  position: relative;
  width: 30px;
  padding-bottom: 20px;
}

.friend-request-counter {
  position: absolute;
  top: 3px;
  right: 1px;
  display: inline;
  background: red;
  padding: 0px 2px 0px 2px;
  border-radius: 2px;
  font-size: 14px;
}

.random-user-name {
  display: block;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 12px;
  font-weight: bold;
}

.friend-request-list {
  display: none;
  top: 45px;
  left: -330px;
}

.friend-request-list-item {

}

.friend-request-thumb {
  width: 50px;
  height: 50px;
  float: left;
}

.friend-request-text {
  float: left;
  color: #365899;
  font-family: helvetica;
  font-size: 12px;
  font-weight: bold;
  margin: 18px 0px 0px 5px;
}

.friend-request-confirm {
  float: right;
  margin: 10px 10px 0px 10px;
  border-radius: 4px;
  color: white;
  background: #3B5998;
  font-size: 12px;
  border-left: 1px solid #365089;
  width: 60px;
  height: 30px;
  font-family: helvetica;
  text-align: center;
}

.friend-request-delete {
  float: right;
  margin: 10px 10px 0px 10px;
  border-radius: 4px;
  color: white;
  background: #3B5998;
  font-size: 12px;
  border-left: 1px solid #365089;
  width: 80px;
  height: 30px;
  font-family: helvetica;
  text-align: center;
}

.friend-requests:hover .friend-request-list {
  display: block;
  z-index: 1;
  position: absolute;
  background: #ffffff;
  width: 430px;
}

.friend-request-list:hover .friend-request-list {
  display: block;
  z-index: 1;
  position: absolute;
  background: #ffffff;
  width: 430px;
}

.work-form-work {
  float:left;
  font-family: helvetica;
  color: #90949c;
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.work-form-edit {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  margin-bottom: 10px;
}

.work-form-input {
  border: 1px solid #999999;
  color: #A9A9AE;
  width: 180px;
  margin: 0px 10px 10px 10px;
}

.work-form-save {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  margin-bottom: 10px;
}

.current-city-form-value {
  float:left;
  font-family: helvetica;
  color: #90949c;
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.current-city-form-edit {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;padding: 4px;
  margin-bottom: 10px;
}

.current-city-form-input {
  border: 1px solid #999999;
  color: #A9A9AE;
  width: 180px;
  margin: 0px 10px 10px 10px;
}

.current-city-form-save {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  margin-bottom: 10px;
}

.birthday-form-value {
  float:left;
  font-family: helvetica;
  color: #90949c;
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.birthday-form-edit {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  margin-bottom: 10px;
}

.birthday-form-input {
  border: 1px solid #999999;
  color: #A9A9AE;
  width: 180px;
  margin: 0px 10px 10px 10px;
  margin-bottom: 10px;
}

.birthday-form-save {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  margin-bottom: 10px;
}

.phone-number-form-value {
  float:left;
  font-family: helvetica;
  color: #90949c;
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.phone-number-form-edit {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  margin-bottom: 10px;
}

.phone-number-form-input {
  border: 1px solid #999999;
  color: #A9A9AE;
  width: 180px;
  margin: 0px 10px 10px 10px;
}

.phone-number-form-save {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  margin-bottom: 10px;
}

.hometown-form-value {
  float:left;
  font-family: helvetica;
  color: #90949c;
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.hometown-form-edit {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  margin-bottom: 10px;
}

.hometown-form-input {
  border: 1px solid #999999;
  color: #A9A9AE;
  width: 180px;
  margin: 0px 10px 10px 10px;
}

.hometown-form-save {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  margin-bottom: 10px;
}

.school-form-value {
  float:left;
  font-family: helvetica;
  color: #90949c;
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.school-form-edit {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  margin-bottom: 10px;
}

.school-form-input {
  border: 1px solid #999999;
  color: #A9A9AE;
  width: 180px;
  margin: 0px 10px 10px 10px;
}

.school-form-save {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  margin-bottom: 10px;
}

.intro-description-form-save {
  background: #4267B2;
  float: right;
  margin-right: 12px;
  margin-left: 5px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
  font-family: helvetica;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  margin-bottom: 10px;
}
